{% extends 'main/base.html' %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
Страница про нас
{% endblock %}


{% block task %}
    <img class="img"  src="https://static.wikia.nocookie.net/acfa1aa3-625a-4cd8-8e10-fa5eaec83460" alt="img">
        <h5 class="mr-md-auto p-2">Страница о нас</h5>
        {% endblock %}


{% block content %}
    <br>
    <li class="media my-5 p-3 border"> Привет ! Это сайт УП - Джанго . Гифка с огнём осторожно Гифка с огнём осторожно Гифка с огнём осторожно</li>
    <img class="img2"  src="https://static.wikia.nocookie.net/5533f907-5f01-4795-9019-ea53955a9313/scale-to-width/755" alt="gif">

{% endblock %}


