{% extends 'main/base.html' %}

{% load bootstrap4 %}

{% block title %} Правка личных данных {% endblock %}

{% block content %}
   <h2>Правка личных данных пользователя {{ user.username }}</h2>
   <form method="post">
   <div class="field">
       {% csrf_token %}
       {{ form.as_div }}
       {% buttons submit='Сохранить' %} {% endbuttons %}
   </div>
   </form>
{% endblock %}

{% block task %}
    <img class="img"  src="https://static.wikia.nocookie.net/acfa1aa3-625a-4cd8-8e10-fa5eaec83460" alt="img">
        <h5 class="mr-md-auto p-2">Редактирование профиля {{ user.username }}</h5>
        {% endblock %}
