{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% load thumbnail %}
{% load static %}

{% block title %}
    Главная страница
{% endblock %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
</head>

{% block task %}
    <div class="upper">
        <img class="img" src="https://static.wikia.nocookie.net/acfa1aa3-625a-4cd8-8e10-fa5eaec83460" alt="img">
        <h5 style="color:darkred;font-size: 23px" class="mr-md-auto p-2"> Welcome to my Django Web-site </h5>
    </div>
{% endblock %}

{% block content %}
    {{ rubric }}
    <p class="text-right font-italic">Счетчик подтвержденных документов: {{ bb.counter }}</p>
    {% block searchform %}
    {% endblock %}

    <h2 class="mb-2">{{ rubric }}</h2>
    </div>
    {% if bbs %}
        <ul class="list-unstyled">
            {% for bb in bbs %}
                <li class="media my-5 p-3 border">
                    {% url 'detail' rubric_pk=rubric.pk pk=bb.pk as url %}
                    <a href="{{ url }}{{ all }}">
                        {% if bb.image %}
                            <img class="mr-3" src="{% thumbnail bb.image 'default' %}">
                        {% else %}
                            <img class="mr-3" src="{% static 'rubric/empty.jpg' %}">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <h3><a href="{{ url }}{{ all }}">{{ bb.title }}</a></h3>
                        <div>{{ bb.content }}</div>
                        <p class="text-right font-weight-bold">{{ bb.price }}</p>
                        <p class="text-right font-italic">{{ bb.created_at }}</p>
                        <p class="text-right font-italic">Статус: {{ bb.status }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

